# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.py[cod]
.idea
.cmake-build-debug
cmake-build-debug/
__pycache_
.libs
.build
*.sqlite3
reload
*.pid
.DS_Store
